**/.env
**/.ipynb_checkpoints/
**/*.gdoc
**/*.cfg

/2_cloud_data_warehouse/project_data_warehouse/project_data_warehouse_instructions.pdf

/2_cloud_data_warehouse/project_data_warehouse/project_data_warehouse_instructions.ipynb